
body {
    background-color: green;
}

.back {
    display: flex;
    border: solid;
    border-color: #0f0f0f;
    border-radius: 60px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: cyan;
    width: 75px;

}

.back:hover {
    background-color: lightblue;
}

.back-button {
    display: flex;
    margin: 10px;
    margin-right: 50px;
    font-size: 25px;
}