
body {
    background-color: green;
}

.back {
    display: flex;
    position: absolute; left: 0;
    border: solid 1px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: cyan;

}

.back-button {
    display: flex;
    margin: 10px;
    margin-right: 50px;
    font-size: 25px;
}