
body {
    background-color: beige;
}

.back {
    display: flex;
    border: solid;
    border-color: #0f0f0f;
    border-radius: 60px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: cyan;
    width: 75px;
}

.back:hover {
    background-color: lightblue;
    cursor:pointer
}

.back-button {
    display: flex;
    width: fit-content;
    height: -20px;
    text-decoration: none;
}

.back-text {
    text-decoration: none;
    display: flex;
    margin: 10px;
    margin-right: 50px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: black;
}